<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nanasi.mapper.DetailMapper">

	
	<!-- 상품 등록 - 관리자 -->
	<insert id="detailRegister">
		<selectKey keyProperty="prod_no" order="BEFORE" resultType="string">
			select tbl_prod_seq.nextval from dual
		</selectKey>
		insert into tbl_prod 
			(prod_no, prod_name, prod_color, prod_brand, prod_price, prod_cate) 
		values 
			(#{prod_no}, #{prod_name}, #{prod_color}, #{prod_brand}, #{prod_price}, #{prod_cate})
	</insert>
	
	<!-- 상품 전체 출력 -->
	<select id="detailList" resultType="com.nanasi.domain.ProdVO">
		<![CDATA[
			select /*+ index_desc(tbl_prod tbl_prod_pk)*/ * from tbl_prod where prod_no > 0
		]]>
	</select>
	
	<!-- 상품 단일 출력 -->
	<select id="detailOne" resultType="com.nanasi.domain.ProdVO">
		select * from tbl_prod where prod_no=#{prod_no}
	</select>
</mapper>
