<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nanasi.mapper.PTestMapper">

	<insert id="Pinsert">
		insert into pay_test (merchant_uid,name,amount,buyer_tel) 
		values (#{merchant_uid},#{name},#{amount},#{buyer_tel})
	</insert>

</mapper>

