<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nanasi.mapper.QnAMapper">
	
	<!-- 사전 문의 type : 0 -->
	<!-- 유저랑 상품명 출력 -->
	<select id="productName" resultType="com.nanasi.domain.ProdVO">
		select prod_no, prod_name from tbl_prod where prod_no=#{prod_no}
	</select>
	
	<!-- 질문 등록 -->
	<insert id="beforeQuestionRegister">
		<selectKey keyProperty="qa_num" order="BEFORE" resultType="Integer">
			select tbl_qa_seq.nextval from dual
		</selectKey>
		insert into tbl_qa
			(qa_num, user_id, qa_type, qa_content, prod_no)
		values
			(#{qa_num}, #{user_id}, 0, #{qa_content}, #{prod_no})
	</insert>
	
	<!-- 상품별 질문 출력 -->
	<select id="productQuestion">
		select qa_state, qa_title, user_id, qa_add from tbl_qa where prod_no=#{prod_no}
	</select>
	
	<!-- 질문 수정 페이지 접속 -->
	<select id="befquestionModifyEnter">
		select (select prod_name from tbl_prod where prod_no=#{prod_no}), qa_title, user_id, qa_content from tbl_qa
	</select>
	
	<!-- 질문 수정 -->
	<update id="befquestionModify">
		update tbl_qa set qa_title=#{qa_title}, qa_content=#{qa_content} where qa_num=#{qa_num}
	</update>
	
	<!-- 질문 삭제 -->
	<delete id="befDelete">
		delete from tbl_qa where qa_num=#{qa_num}
	</delete>
	
	<!-- 사전 답변 등록 -->

	
	<!-- 고장낸 후 문의 type : 1 -->
	<!-- 질문 등록 -->
	<insert id="afterQuestionRegister">
		<selectKey keyProperty="qa_num" order="BEFORE" resultType="Integer">
			select tbl_qa_seq.nextval from dual
		</selectKey>
		insert into tbl_qa
			(qa_num, user_id, qa_type, qa_content, prod_no)
		values
			(#{qa_num}, #{user_id}, 1, #{qa_content}, #{prod_no})
	</insert>
	
</mapper>
